/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

body{
  background: #adadad url(bg.jpg) top no-repeat;
  font-family: "arial", "arial", sans-serif;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.menu_head {
  padding: 5px;
  cursor: pointer;
  position: relative;
  margin:2px;
  background: #121212;
  color:#fff;
}
.body-weather {
  padding: 5px;
  margin: 0px;
  word-wrap: break-word;
  line-height: 1.5;
}